.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 61px;
}

.name {
    margin-bottom: 15px;
}

.domain {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.domain p {
    font-size: 20px;
}

.domain .last-checked {
    font-size: 15px;
}

.meter {
    width: 217px;
    height: 217px;
    background-color: red;
    border: 1px white solid;
}