.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 61px;
}

a {
    color: #fff;
    font-weight: 700;
}

.name {
    margin-bottom: 5px;
}

.ip {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}

.address {
    /* color: #FF471D; */
    font-weight: 700;
}

.protection {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 25px;
}

.red {
    color: #FF471D;
}

.green {
    color: #58D31B;
}

.domain {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    margin-bottom: 15px;
}

.domain p {
    font-size: 20px;
}

.domain .last-checked {
    font-size: 15px;
}

.domain .last-checked .checked-time {
    font-weight: 700;
}

.meter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meter .under {
    transform: translateY(-90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meter .under .fraction {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
}

.meter .under .fraction .numerator {
    font-size: 40px;
}

.meter h2 {
    font-size: 20px;
    font-weight: 700;
}

.meter .arrow {
    transform-origin: right center;
    width: 90px;
    height: 10px;
    border-radius: 50px;
    background: #fff;
    filter: drop-shadow(0px 4px 6.1px rgba(0, 0, 0, 0.25));
}