.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
}

a {
    color: #fff;
    font-weight: 700;
}

.name {
    margin-bottom: 5px;
}

.ip {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}

.address {
    /* color: #FF471D; */
    font-weight: 700;
}

.protection {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 25px;
}

.red {
    color: #FF471D;
}

.green {
    color: #58D31B;
}

.domain {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    margin-bottom: 15px;
}

.domain p {
    font-size: 20px;
}

.domain .last-checked {
    font-size: 15px;
}

.concern-container {

    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #BA3939;
    padding: 10px;
    margin-top: 8px;

}

.toggle-arrow {
    transition: transform 0.3s;
}

.toggle-arrow.opened {
    transform: rotate(180deg);
}

.toggle-arrow.closed {
    transform: rotate(0deg);
}

.concern-title {
    margin: 0;
    border-radius: 8px;
    transition: border-radius 0.3s;


}

.title-opened {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.concern-text {
    margin: 0;
    padding: 10px;
    border-radius: 8px;
    background-color: #BA3939;
    transition: border-radius 0.3s;
}

.concern-text.opened {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-bottom: 10px;
}

.parent {
    width: 100%;

}

.parent p {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    /* width: 100%; */
    background-color: #CC4848;
    border-radius: 10px;
    padding: 10px;
}

.concern-container h3 {
    flex: grow 1;
    width: 100%;
}

.concerns-header {
    margin-top: 15px;
    color: #FFF;
    font-family: "Instrument Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    left: 100px;

}

.domain .last-checked .checked-time {
    font-weight: 700;
}

.meter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.under {
    transform: translateY(-90px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meter .under .fraction {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
}

.meter .under .fraction .numerator {
    font-size: 40px;
}

.meter h2 {
    font-size: 20px;
    font-weight: 700;
}

.meter .arrow {
    transform-origin: right center;
    width: 90px;
    height: 10px;
    border-radius: 50px;
    background: #fff;
    filter: drop-shadow(0px 4px 6.1px rgba(0, 0, 0, 0.25));
}

.loading {
    width: 50%;
}